---
import { getUserByCookie } from "../features/supabase";
import Layout from "../layouts/Layout.astro";

// How to get a user object example:
let user;
try {
  user = await getUserByCookie(Astro.request, Astro.response);
  return Astro.redirect("/dashboard");
} catch (e) {
  // @TODO: add logs.
  return Astro.redirect("/login");
}
---

<Layout title="Kitae | Home">
  <main>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga sit
      accusantium iure sed neque. Odit iste esse quas at quis harum, quisquam
      earum dolorem cupiditate? Consequatur esse quasi quis at?
    </p>
  </main>
</Layout>
