---
import { getSession } from "../features/supabase";
import Layout from "../layouts/Layout.astro";

try {
  await getSession((Astro as any).cookies);
  return Astro.redirect("/dashboard");
} catch (e) {
  // @TODO: add logs.
  console.log(e);
  return Astro.redirect("/login");
}
---

<Layout title="Kitae | Home">
  <main>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga sit
      accusantium iure sed neque. Odit iste esse quas at quis harum, quisquam
      earum dolorem cupiditate? Consequatur esse quasi quis at?
    </p>
  </main>
</Layout>
