@tailwind base; /* Include tailwind reset */

.selected {
  /* TODO: use CSS custom properties instead of hardcoded values, without including tailwindcss */
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: 2px;
  outline-color: hsl(198deg, 64%, 32%);
}

* {
  transition: all 0.3s ease-in-out;
}
