---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kitae | Home">
  <main>
    <div
      class="relative p-1 bg-gradient-to-r from-kitae-start to-kitae-end rounded-full w-[200px] h-[200px] flex"
    >
      <div
        class="flex flex-col justify-center items-center gap-11 bg-neutral-900 rounded-full flex-1"
      >
        <p>Connecting</p>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { supabase } from "../../features/supabase";
  console.log("lorem ipsum");
  const session = await supabase.auth.getSessionFromUrl();
  await fetch("/api/auth", {
    method: "POST",
    headers: {
      "Content-type": "application/json; charset=UTF-8",
    },
    body: JSON.stringify({ session }),
    credentials: "same-origin",
  });
  // console.log("redirect to home");
  // location.replace("/");
</script>
