---
---

<p>Lorem</p>

<script>
  import { supabase } from "../../features/supabase";
  const session = await supabase.auth.getSessionFromUrl();
  await fetch("/api/auth", {
    method: "POST",
    headers: {
      "Content-type": "application/json; charset=UTF-8",
    },
    body: JSON.stringify({ event: "SIGNED_IN", session }),
    credentials: "same-origin",
  });
  console.log("redirect to home");
  location.replace("/");
</script>
