---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kitae | Home">
  <main class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div
      class="relative p-1 bg-gradient-to-r from-kitae-start to-kitae-end rounded-full w-[200px] h-[200px] flex"
    >
      <div
        class="flex flex-col justify-center items-center gap-11 bg-neutral-900 rounded-full flex-1"
      >
        <p>Connecting</p>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { supabase } from "../../features/supabase";
  const { data: session } = await supabase.auth.getSessionFromUrl();
  await fetch("/api/auth", {
    method: "POST",
    headers: {
      "Content-type": "application/json; charset=UTF-8",
    },
    body: JSON.stringify({ event: "SIGNED_IN", session }),
    credentials: "same-origin",
  });
  location.replace("/");
</script>
